extends ../layout

block content
  div.container
    h1 
      a(href='/articles') The Zine
  div.articles
    each article in articles
      div.article
        if(article.backgroundColor && article.backgroundURL === '')
          h3(style = 'color: black; background-image: url(' + '../images/concrete_seamless.png' + ');') 
            a(href='/articles/' + article._id) #{article.title} 
        else if(article.backgroundURL === '' && !article.backgroundColor)
          h3(style = 'color: white; background-image: url(' + '../images/concrete_seamless.png' + ');' ) 
            a(href='/articles/' + article._id) #{article.title}
        else if(article.backgroundURL != '' && article.backgroundColor) 
          h3(stlye = 'color: black; background-image: url(' + article.backgroundURL + ');') 
            a(href='/articles/' + article._id) #{article.title}
        else 
          h3(style = 'color: white; background-image: url(' + article.backgroundURL + ');') 
            a(href='/articles/' + article._id) #{article.title}
        p= article.excerpt
    a.create(href='/articles/new') Create a new Article!
      
